.user__info {
    text-align: center;
}

.info__container {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

.info__link {
    color: #000;
}

.info__container-text {
    padding: 15px;
}

.info__container-text div {
    margin: 2px 0;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .info__container {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
}

